<div class="container">
    <h2 class="text-center">SOLICITAÇÕES EFETUADAS</h2>
    <br>
    
    <table class="table table-striped">
        <thead>
            <th>NÚMERO</th>
            <th>NOME DO LIVRO</th>
            <th>NOME DO ALUNO</th>
            <th>DATA DE CRIAÇÃO</th>
            <th>AÇÕES</th>
        </thead>
        <tbody>
            <tr ng-repeat="assign in assigns">
                <td>{{ assign.id }}</td>
                <td>{{ assign.book.name }}</td>
                <td>{{ assign.student.name }}</td>
                <td>{{ assign.delivery_forecast | date: 'dd/MM/yyyy' }}</td>
                <td>
                    <i class="fa-solid fa-trash" ng-click="deleteAssign(assign.book.id, assign.student.id)" style="margin-left: 20px"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>