<div ng-if="loading" style="width: 100%; display: flex; align-items: center; justify-content: center;"><img
    style="width: 100px;" src="img/amigo-loading-v3.gif" alt=""></div>

<div class="container" ng-if="!loading">
    <h2 class="text-center">SOLICITAÇÕES PENDENTES</h2>
    <br>
    
    <table class="table table-striped">
        <thead>
            <th>NÚMERO</th>
            <th>NOME DO LIVRO</th>
            <th>NOME DO ALUNO</th>
            <th>SAÍDA</th>
            <th>PREVISÃO DE DEVOLUÇÃO</th>
            <th>DEVOLVER</th>
        </thead>
        <tbody>
            <tr ng-repeat="assign in assigns">
                <td>{{ assign.id }}</td>
                <td>{{ assign.book.name }}</td>
                <td>{{ assign.student.name }}</td>
                <td>{{ assign.created_at | date: 'dd/MM/yyyy' }}</td>
                <td style="padding-left: 60px">{{ assign.delivery_forecast | date: 'dd/MM/yyyy' }}</td>
                <td>
                    <i class="fa-solid fa-arrow-rotate-right" ng-click="deleteAssign(assign.book.id, assign.student.id)" style="margin-left: 35px"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>