<div class="container">
    <h2 class="text-center">LISTAR AUTORES</h2>
    
    <table class="table table-striped">
        <thead>
            <th>NÚMERO</th>
            <th>NOME</th>
            <th>DATA DE NASCIMENTO</th>
            <th>BIOGRAFIA</th>
            <th>AÇÕES</th>
        </thead>
        <tbody>
            <tr ng-repeat="author in authors">
                <td>{{ author.id }}</td>
                <td>{{ author.name }}</td>
                <td>{{ author.birth_date }}</td>
                <td>{{ author.biography }}</td>
                <td>
                    <i class="fa-solid fa-trash" ng-click="deleteAuthor(author.id)" style="margin-left: 5px"></i>
                    <i ui-sref="authors-form({ id: author.id })" class="fa-solid fa-pencil" style="margin-left: 10px"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>