<div class="container">
    <h2 class="text-center">LISTAR AUTORES</h2>
    
    <table class="table table-striped">
        <thead>
            <th>NÚMERO</th>
            <th>NOME</th>
            <th>DATA DE NASCIMENTO</th>
            <th>BIOGRAFIA</th>
            <th>AÇÕES</th>
        </thead>
        <tbody>
            <tr>
                <td>001</td>
                <td>Machado de Asssis</td>
                <td>17-09-1978</td>
                <td>1sdfgfdwwefrgthrgewefgr</td>
                <td>
                    <i class="fa-solid fa-trash"></i>
                    <i ui-sref="authors-edit" class="fa-solid fa-pencil" style="margin-left: 4px"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>