<div class="container">
    <h2 class="text-center">LISTAR LIVROS</h2>
    <br>
    <table class="table table-striped">
        <thead>
            <th>NÚMERO</th>
            <th>NOME</th>
            <th>DATA DE PUBLICAÇÃO</th>
            <th>SINOPSE</th>
            <th>AUTOR</th>
            <th>EDITORA</th>
            <th>AÇÕES</th>
        </thead>
        <tbody>
            <tr ng-repeat="book in books">
                <td>{{ book.id }}</td>
                <td>{{ book.name }}</td>
                <td>{{ book.publication_date | date: 'dd/MM/yyyy' }}</td>
                <td>{{ book.synopsis }}</td>
                <td>{{ book.author.name }}</td>
                <td>{{ book.publisher.name }}</td>
                <td>
                    <i class="fa-solid fa-trash" ng-click="deleteBook(book.id)" style="margin-left: 10px"></i>
                    <i ui-sref="books-form({ id: book.id })" class="fa-solid fa-pencil" style="margin-left: 10px"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>