<div class="container">
    <h2 class="text-center">CRIAR LIVRO</h2>

    <form>
        <div class="form-group">
            <label for="inputBookName">NOME</label>
            <input type="text" class="form-control" id="inputBookName" placeholder="Insira um nome">
        </div>
        <br>
        <div class="form-group">
            <label for="inputBookDate">DATA  DE PUBLICAÇÃO</label>
            <input type="date" class="form-control" id="inputBookDate" placeholder="Insira uma data">
        </div>
        <br>
        <div class="form-group">
            <label for="inputAuthorBookNumber">AUTOR</label>
            <input type="number" class="form-control" id="inputAuthorBookNumber" placeholder="Escolha um autor">
        </div>
        <br>
        <div class="form-group">
            <label for="inputPublisherBookNumber">EDITORA</label>
            <input type="number" class="form-control" id="inputPublisherBookNumber" placeholder="Escolha uma editora">
        </div>
        <br>
        <br>
        <button class="btn btn-primary" ng-click="">CRIAR</button>
    </form>
</div>