<div class="container">
    <h2 class="text-center">LISTAR LIVROS</h2>
    <br>
    <table class="table table-striped">
        <thead>
            <th>NÚMERO</th>
            <th>NOME</th>
            <th>DATA DE PULBLICAÇÃO</th>
            <th>AUTOR</th>
            <th>EDITORA</th>
            <th>AÇÕES</th>
        </thead>
        <tbody>
            <tr>
                <td>001</td>
                <td>Pequeno Príncipe</td>
                <td>17-09-2022</td>
                <td>qwer5t6y</td>
                <td>asdrtyu</td>
                <td>
                    <i class="fa-solid fa-trash"></i>
                    <i ui-sref="books-edit" class="fa-solid fa-pencil" style="margin-left: 4px"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>