<div class="container" ng-if="isTokenValid">
    <h2 class="text-center">REDEFINIR SENHA</h2>

    <form>
        <div class="form-group">
            <label for="inputPassword">Nova senha</label>
            <input type="password" ng-model="form.password" class="form-control" id="inputPassword" placeholder="Insira a nova senha">
        </div>
        <br>
        <div class="form-group">
            <label for="inputConfirmPassword">Confirme a nova senha</label>
            <input type="password" ng-model="form.confirm_password" class="form-control" id="inputConfirmPassword" placeholder="Confirme a nova senha">
        </div>
        
        <br>
        <br>
        <button class="btn btn-primary" ng-click="submit()">ALTERAR</button>
    </form>

</div>