<div class="container bg-light d-flex justify-content-center">
    <nav class="navbar navbar-expand-lg navbar-light" style="width: 900px;">
        <a class="navbar-brand" ui-sref="home">INÍCIO</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                
                <li class="nav-item dropdown">
                    <span class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        USUÁRIO
                    </span>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" ui-sref="users">DEFINIÇÕES</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <span class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        LIVROS
                    </span>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" ui-sref="books-form">CRIAR</a></li>
                        <li><a class="dropdown-item" ui-sref="books">LISTAR</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <span class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        ESTUDANTES
                    </span>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" ui-sref="students-form">CRIAR</a></li>
                        <li><a class="dropdown-item" ui-sref="students">LISTAR</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <span class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        AUTORES
                    </span>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" ui-sref="authors-form">CRIAR</a></li>
                        <li><a class="dropdown-item" ui-sref="authors">LISTAR</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <span class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        EDITORAS
                    </span>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" ui-sref="publishers-form">CRIAR</a></li>
                        <li><a class="dropdown-item" ui-sref="publishers">LISTAR</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <span class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        SOLICITAÇÃO DE LIVROS
                    </span>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" ui-sref="assigns-form">SOLICITAR</a></li>
                        <li><a class="dropdown-item" ui-sref="assigns">PENDENTES</a></li>
                        <li><a class="dropdown-item" ui-sref="assigns-concluded">HISTÓRICO</a></li>
                    </ul>
                </li>
                <button type="button" class="btn btn-danger" ng-click="logout()">SAIR</button>

            </ul>
        </div>
    </nav>
</div>