<div class="container">
    <h2 class="text-center">LISTAR EDITORAS</h2>

    <table class="table table-striped">
        <thead>
            <th>NÚMERO</th>
            <th>NOME</th>
            <th>AÇÕES</th>
        </thead>
        <tbody>
            <tr>
                <td>001</td>
                <td>Publisher Giant</td>
                <td>
                    <i class="fa-solid fa-trash"></i>
                    <i ui-sref="publishers-edit" class="fa-solid fa-pencil" style="margin-left: 4px"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>