<div ng-if="loading" style="width: 100%; display: flex; align-items: center; justify-content: center;"><img
    style="width: 100px;" src="img/amigo-loading-v3.gif" alt=""></div>

<div class="container" ng-if="!loading">
    <h2 class="text-center">LISTAR EDITORAS</h2>

    <table class="table table-striped">
        <thead>
            <th>NÚMERO</th>
            <th>NOME</th>
            <th>AÇÕES</th>
        </thead>
        <tbody>
            <tr ng-repeat="publisher in publishers">
                <td>{{ publisher.id }}</td>
                <td>{{ publisher.name }}</td>
                <td>
                    <i class="fa-solid fa-trash" ng-click="deletePublisher(publisher.id)" style="margin-left: 5px"></i>
                    <i ui-sref="publishers-form({ id: publisher.id })" class="fa-solid fa-pencil" style="margin-left: 10px"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>