<div class="container">
    <h2 class="text-center">LISTAR EDITORAS</h2>

    <table class="table table-striped">
        <thead>
            <th>NÚMERO</th>
            <th>NOME</th>
            <th>AÇÕES</th>
        </thead>
        <tbody>
            <tr ng-repeat="publisher in publishers">
                <td>{{ publisher.id }}</td>
                <td>{{ publisher.name }}</td>
                <td>
                    <i class="fa-solid fa-trash" ng-click="deletePublisher(publisher.id)"></i>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <i ui-sref="publishers-form({ id: publisher.id })" class="fa-solid fa-pencil" style="margin-left: 4px"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>