<div class="container">
    <h2 class="text-center">LISTAR ESTUDANTES</h2>
    <br>
    <table class="table table-striped">
        <thead>
            <th>NÚMERO</th>
            <th>NOME</th>
            <th>E-MAIL</th>
            <th>DATA DE NASCIMENTO</th>
            <th>AÇÕES</th>
        </thead>
        <tbody>
            <tr>
                <td>001</td>
                <td>Aluno Arthur</td>
                <td>arthurzinho@amigo.com</td>
                <td>19/12/2013</td>
                <td>
                    <i class="fa-solid fa-trash"></i>
                    <i ui-sref="students-edit" class="fa-solid fa-pencil" style="margin-left: 4px"></i>
                </td>
            </tr>
            <tr>
        </tbody>
    </table>
</div>