<div class="container">
    <h2 class="text-center">LISTAR USUÁRIOS</h2>
    <br>
    
    <table class="table table-striped">
        <thead>
            <th>NÚMERO</th>
            <th>NOME</th>
            <th>EMAIL</th>
            <th>DATA DE CRIAÇÃO</th>
            <th>AÇÕES</th>
        </thead>
        <tbody>
            <tr ng-repeat="user in users">
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.created_at | date: 'dd/MM/yyyy HH:mm' }}</td>
                <td>
                    <i class="fa-solid fa-trash" ng-click="deleteUser(user.id)"></i>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <i ui-sref="users-form({ id: user.id })" class="fa-solid fa-pencil" style="margin-left: 4px"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>