<div class="container">
    <h2 class="text-center">DADOS DO USUÁRIO</h2>
    <br>
    <div ng-if="loading" style="width: 100%; display: flex; align-items: center; justify-content: center;"><img
        style="width: 100px;" src="img/amigo-loading-v3.gif" alt=""></div>
    
    <table class="table table-striped" ng-if="!loading">
        <thead>
            <th>NÚMERO</th>
            <th>NOME</th>
            <th>EMAIL</th>
            <th>DATA DE CRIAÇÃO</th>
            <th>AÇÕES</th>
        </thead>
        <tbody>
            <tr ng-repeat="user in users">
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.created_at | date: 'dd/MM/yyyy HH:mm' }}</td>
                <td>
                    <i class="fa-solid fa-trash" ng-click="deleteUser(user.id)" style="margin-left: 5px"></i>
                    <i ui-sref="users-edit({ id: user.id })" class="fa-solid fa-pencil" style="margin-left: 10px"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>