<div class="container">
    <h2 class="text-center">EDITAR USUÁRIO</h2>

    <form>
        <div class="form-group">
            <label for="inputUserName">NOME DO USUÁRIO</label>
            <input type="text" class="form-control" id="inputUserName" placeholder="Insira um nome">
        </div>
        <br>
        <div class="form-group">
            <label for="inputEmailUser">E-MAIL</label>
            <input type="email" class="form-control" id="inputEmailUser" placeholder="Insira um e-mail">
        </div>
        <br>
        <div class="form-group">
            <label for="inputPassword">SENHA</label>
            <input type="password" class="form-control" id="inputPassword" placeholder="Insira uma senha">
        </div>
        <br>
        <br>
        <button class="btn btn-primary" ng-click="">EDITAR</button>
    </form>

</div>