<div class="container">
    <!-- <h2 class="text-center" ng-if="!isEdit">CRIAR USUÁRIO</h2>
    <h2 class="text-center" ng-if="isEdit">EDITAR USUÁRIO</h2> -->

    <h2 class="text-center">{{ isEdit ? 'EDITAR' : 'CRIAR' }} USUÁRIO</h2>

    <form>
        <div class="form-group">
            <label for="inputUserName">NOME DO USUÁRIO</label>
            <input type="text" ng-model="form.name" class="form-control" id="inputUserName" placeholder="Insira um nome">
        </div>
        <br>
        <div class="form-group">
            <label for="inputEmailUser">E-MAIL</label>
            <input type="email" ng-model="form.email" class="form-control" id="inputEmailUser" placeholder="Insira um e-mail">
        </div>
        <br>
        <div class="form-group" ng-if="!isEdit">
            <label for="inputPassword">SENHA</label>
            <input type="password" ng-model="form.password" class="form-control" id="inputPassword" placeholder="Insira uma senha">
        </div>
        
        <br>
        <br>
        <button class="btn btn-primary" ng-click="submit()">{{ isEdit ? 'EDITAR' : 'CRIAR' }}</button>
    </form>

</div>